.menu-test {
  height: 200px;
  @media (max-width: 1024px) {
    height: 100px;
  }
}
.menu-test ul {
  margin: 0;
  padding: 0;
  text-align: center;
  @media (max-width: 1024px) {
    display: none;
  }
}
.menu-test ul li {
  background-color: #fff;
  border-radius: 0 0 30% 30%;
  display: inline-block;
  height: 50px;
  list-style: none;
  margin: 0 10px 0 0;
  position: relative;
  width: 50px;
}
.menu-test ul li:last-child {
  margin: 0;
}
.menu-test ul li.active {
  background-color: #ff7043;
}
.menu-test ul li.active i,
.menu-test ul li.actual i {
  color: #fff;
}
.menu-test ul li.actual {
  background-color: #009688;
}
.menu-test ul li i {
  font-size: 30px;
  left: 1%;
  position: relative;
  top: 17%;
}
.menu-test__section {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 36px;
  font-weight: 400;
  height: 150px;
  justify-content: center;
  text-align: center;
  @media (max-width: 1023px) {
    font-size: 28px;
    height: 100px;
  }
  @media (max-width: 599px) {
    font-size: 20px;
    height: 75px;
  }
}
