<section class="application application-index">
  <div class="application__pane-principal">
    <div class="application__pane-container" layout="row" layout-align="start center">
      <div flex="100" flex-gt-xs="75" flex-gt-sm="50">
        <h1>
          {{ 'application_index.panel_title' | translate }}
        </h1>
        <p>
          {{ 'application_index.panel_description' | translate }}
        </p>
        <md-button class="md-warn md-raised md-hue-2" ng-click="$ctrl.executeApp()">
          {{ 'application_index.init_test' | translate }}
        </md-button>
        <md-button class="md-raised" ui-sref="HomeIndex">
          {{ 'application_index.exit_test' | translate }}
        </md-button>
      </div>
    </div>
  </div>
  <div class="application-index__section">
    <div class="application__container" layout="column" layout-gt-sm="row" layout-align="start center">
      <div flex="100" flex-gt-sm="45" class="pos-center">
        <img ng-src="assets/images/application_index/section_principal.jpg" />
      </div>
      <div flex="100" flex-gt-sm="50" flex-offset="0" flex-offset-gt-sm="5">
        <h3>
          {{ 'application_index.section_principal_title' | translate }}
        </h3>
        <h4>
          {{ 'application_index.section_principal_subtitle' | translate }}
        </h4>
        <p>
          {{ 'application_index.section_principal_description' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="application-index__section testimonial">
    <div layout="row" layout-align="center center">
      <div flex="100" class="application-index__section-description">
        {{ 'application_index.testimonial' | translate }}
      </div>
    </div>
  </div>
  <div class="application-index__section">
    <div class="application__container" layout="column" layout-gt-sm="row" layout-align="start center">
      <div flex="100" flex-gt-sm="25" class="pos-center">
        <img ng-src="assets/images/application_index/section_analytics.png" />
      </div>
      <div flex="100" flex-gt-sm="65" flex-offset="0" flex-offset-gt-sm="10">
        <h3>
          {{ 'application_index.section_analytics_title' | translate }}
        </h3>
        <h4>
          {{ 'application_index.section_analytics_subtitle' | translate }}
        </h4>
        <p>
          {{ 'application_index.section_analytics_description' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="application-index__section odd">
    <div class="application__container" layout="column" layout-gt-sm="row" layout-align="start center">
      <div flex="100" flex-gt-sm="65" flex-order="2" flex-order-gt-sm="1">
        <h3>
          {{ 'application_index.section_send_title' | translate }}
        </h3>
        <h4>
          {{ 'application_index.section_send_subtitle' | translate }}
        </h4>
        <p>
          {{ 'application_index.section_send_description' | translate }}
        </p>
      </div>
      <div flex="100" flex-gt-sm="25" flex-offset="0" flex-offset-gt-sm="10" flex-order="1" flex-order-gt-sm="2" class="pos-center">
        <img ng-src="assets/images/application_index/section_send.png" />
      </div>
    </div>
  </div>
  <div class="application-index__section">
    <div class="application__container" layout="column" layout-gt-sm="row" layout-align="start center">
      <div flex="100" flex-gt-sm="25" class="pos-center">
        <img ng-src="assets/images/application_index/section_security.png" />
      </div>
      <div flex="100" flex-gt-sm="65" flex-offset="0" flex-offset-gt-sm="10">
        <h3>
          {{ 'application_index.section_security_title' | translate }}
        </h3>
        <h4>
          {{ 'application_index.section_security_subtitle' | translate }}
        </h4>
        <p>
          {{ 'application_index.section_security_description' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="application-index__newsletter">
    <div class="application__container" layout="row" layout-align="start center">
      <div class="application-index__newsletter-container" flex="100" flex-gt-sm="80" flex-offset="0" flex-offset-gt-sm="10">
        <div class="application-index__newsletter-top">
          <div class="application-index__newsletter-title">
            {{ 'application_index.newsletter_title' | translate }}
          </div>
          <div class="application-index__newsletter-form">
            <form name="newsletterForm" ng-cloak>
              <input name="email" ng-model="newsletter.email" required ng-pattern="/^.+@.+\..+$/" autocomplete="off">
              <md-button class="md-raised md-primary md-hue-2" ng-click="$ctrl.addNewsletter()" ng-disabled="newsletterForm.$invalid">
                {{ 'application_index.newsletter_register' | translate }}
              </md-button>
            </form>
          </div>
          <div class="application-index__newsletter-footer">
            {{ 'application_index.newsletter_description' | translate }}
          </div>
        </div>
        <div class="application-index__newsletter-bottom" layout="column" layout-gt-sm="row" layout-align="start center">
          <div class="application-index__newsletter-photo" flex="100" flex-gt-sm="20">
            <figure></figure>
          </div>
          <div class="application-index__newsletter-wrapper" flex="100" flex-gt-sm="80">
            <div class="application-index__newsletter-description">
              "{{ 'application_index.newsletter_details' | translate }}"
            </div>
            <div class="application-index__newsletter-copyright">
              <h4>
                Daniel Valenzuela Suárez
              </h4>
              <p>
                CEO Softcrum SpA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
