<section class="application application-introduction">
  <div class="application__pane-secondary">
    <menu-test></menu-test>
  </div>
  <div class="application__container" layout="column" ng-cloak>
    <md-card>
      <md-content layout-padding>
        <div class="resources">
          <div class="resources__header">
            <div class="resources__header-title">
              {{ 'resources.introduction' | translate }}
            </div>
            <div class="resources__header-thesis">
              {{ 'resources.thesis' | translate }}
            </div>
            <div class="resources__header-author">
              {{ 'resources.author_1' | translate }}
            </div>
            <div class="resources__header-author">
              {{ 'resources.author_2' | translate }}
            </div>
            <div class="resources__header-department">
              {{ 'resources.department' | translate }}
            </div>
          </div>
          <div class="resources__content">
            <div class="resources__content-section">
              <div class="resources__content-title">
                {{ 'application_introduction.question_1_title' | translate }}
              </div>
              <div class="resources__content-description">
                {{ 'application_introduction.question_1_description_1' | translate }}<sup>1</sup> {{ 'application_introduction.question_1_description_2' | translate }}<sup>2</sup> {{ 'application_introduction.question_1_description_3' | translate }}<sup>3</sup>. {{ 'application_introduction.question_1_description_4' | translate }}<br /><br />
                {{ 'application_introduction.question_1_description_5' | translate }}<sup>4</sup> {{ 'application_introduction.question_1_description_6' | translate }}<br /><br />
                {{ 'application_introduction.question_1_description_7' | translate }}<br /><br />
                {{ 'application_introduction.question_1_description_8' | translate }} <i>"{{ 'application_introduction.question_1_description_9' | translate }}"</i>.
              </div>
            </div>
            <div class="resources__content-section">
              <div class="resources__content-description">
                <b><sup>1</sup> {{ 'application_introduction.question_2_description_1' | translate }}:</b> {{ 'application_introduction.question_2_description_2' | translate }}<br />
                <b><sup>2</sup> {{ 'application_introduction.question_2_description_3' | translate }}:</b> {{ 'application_introduction.question_2_description_4' | translate }}<br />
                <b><sup>3</sup> {{ 'application_introduction.question_2_description_5' | translate }}:</b> {{ 'application_introduction.question_2_description_6' | translate }}<br />
                <b><sup>4</sup> {{ 'application_introduction.question_2_description_7' | translate }}:</b> {{ 'application_introduction.question_2_description_8' | translate }}
              </div>
            </div>
          </div>
        </div>
      </md-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="$ctrl.abortTest()">
          {{ 'application.abort' | translate }}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.executeApp()">
          {{ 'application.next' | translate }}
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</section>
