<section class="application application-profile">
  <div class="application__pane-secondary">
    <menu-test></menu-test>
  </div>
  <div class="application__container" layout="column" ng-cloak>
    <form name="projectForm" autocomplete="off">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              {{ 'application_profile.create_account' | translate }}
            </span>
            <span class="md-subhead">
              {{ 'application_profile.create_account_description' | translate }}
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-content layout-padding>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>
                {{ 'application_profile.identification' | translate }}
              </label>
              <input ng-model="test.user.internal_key" disabled>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex="60" flex-gt-xs>
              <label>
                {{ 'application_profile.email' | translate }}
              </label>
              <input ng-model="test.user.email" name="email" ng-pattern="/^.+@.+\..+$/" required>
              <div ng-messages="projectForm.email.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
                <div ng-message="pattern">
                  {{ 'global.pattern_email' | translate }}
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="25" flex-gt-xs>
              <label>
                {{ 'application_profile.gender' | translate }}
              </label>
              <md-select ng-model="test.user.gender" name="gender" required>
                <md-option ng-repeat="gender in genders" value="{{gender.id}}">
                  {{ gender.text }}
                </md-option>
              </md-select>
              <div ng-messages="projectForm.gender.$error" ng-if="projectForm.gender.$pristine">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="15" flex-gt-xs>
              <label>
                {{ 'application_profile.age' | translate }}
              </label>
              <input ng-model="test.user.age" name="age" ng-pattern="/^[0-9]*$/" required>
              <div ng-messages="projectForm.age.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
                <div ng-message="pattern">
                  {{ 'global.pattern_number' | translate }}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>
                {{ 'application_profile.university_name' | translate }}
              </label>
              <input ng-model="test.user.university.name" name="universityName" required>
              <div ng-messages="projectForm.universityName.$error" ng-if="projectForm.universityName.$pristine">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex="70" flex-gt-xs>
              <label>
                {{ 'application_profile.university_career' | translate }}
              </label>
              <input ng-model="test.user.university.career" name="universityCareer" required>
              <div ng-messages="projectForm.universityCareer.$error" ng-if="projectForm.universityCareer.$pristine">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex="30" flex-gt-xs>
              <label>
                {{ 'application_profile.university_level' | translate }}
              </label>
              <input ng-model="test.user.university.level" name="universityLevel" ng-pattern="/^[0-9]*$/" required>
              <div ng-messages="projectForm.universityLevel.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                  {{ 'global.required' | translate }}
                </div>
                <div ng-message="pattern">
                  {{ 'global.pattern_number' | translate }}
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex="70" flex-gt-xs>
              <md-checkbox ng-model="test.user.send_results" class="md-primary">
                {{ 'application_profile.send_results' | translate }}
              </md-checkbox>
            </md-input-container>
          </div>
        </md-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="$ctrl.abortTest()">
            {{ 'application.abort' | translate }}
          </md-button>
          <md-button class="md-raised md-primary" ng-click="$ctrl.executeApp()" ng-disabled="projectForm.$invalid">
            {{ 'application.next' | translate }}
          </md-button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</section>
