<section class="application application-profile">
  <div class="application__pane-secondary">
    <menu-test></menu-test>
  </div>


  <div class="application__container" layout="column" ng-cloak>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            {{ 'application_profile.create_account' | translate }}
          </span>
          <span class="md-subhead">
            {{ 'application_profile.create_account_description' | translate }}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-content layout-padding>
        <form name="projectForm">
          <md-input-container class="md-block" flex-gt-xs>
            <label>
              {{ 'application_profile.identification' | translate }}
            </label>
            <input ng-model="test.id" disabled>
          </md-input-container>



          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Description</label>
              <input md-maxlength="30" required name="description" ng-model="project.description">
              <div ng-messages="projectForm.description.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>



            <md-input-container class="md-block" flex-gt-sm>
              <label>Description</label>
              <md-select ng-model="test.gender" required>
                <md-option ng-repeat="gender in genders" value="{{gender.value}}">
                  {{gender.text}}
                </md-option>
              </md-select>
              <div ng-messages="projectForm.gender.$error">
                <div ng-message="required">This is required poh.</div>
              </div>
            </md-input-container>
          </div>




          <md-input-container class="md-block">
            <label>Description</label>
            <input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>


          <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="test.company" disabled>
          </md-input-container>
          <md-datepicker ng-model="test.submissionDate" md-placeholder="Enter date"></md-datepicker>



          <md-input-container class="md-block">
            <label>Client Name</label>
            <input required name="clientName" ng-model="project.clientName">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Client Email</label>
            <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="projectForm.clientEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Hourly Rate (USD)</label>
            <input required type="number" step="any" name="rate" ng-model="project.rate" min="800"
                   max="4999" ng-pattern="/^1234$/" />
            <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
              <div ng-message="required">
                You've got to charge something! You can't just <b>give away</b> a Missile Defense
                System.
              </div>
              <div ng-message="min">
                You should charge at least $800 an hour. This job is a big deal... if you mess up,
                everyone dies!
              </div>
              <div ng-message="pattern">
                You should charge exactly $1,234.
              </div>
              <div ng-message="max">
                {{projectForm.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I
                doubt even Bill Clinton could afford that.
              </div>
            </div>
          </md-input-container>
          <p style="font-size:.8em; width: 100%; text-align: center;">
            Make sure to include <a href="https://docs.angularjs.org/api/ngMessages" target="_blank">ngMessages</a> module when using ng-message markup.
          </p>
        </form>
      </md-content>


      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="$ctrl.abortTest()">
          {{ 'application.abort' | translate }}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.executeApp()">
          {{ 'application.next' | translate }}
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</section>
